.project-participants-container {
    padding-top: 124px;
    padding-bottom: 48px;
    margin-left: 8%;
    margin-right: 8%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 48px;
}

.profile-card {
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-card-header {
    padding: 24px;
}

mat-card-title a {
    font-weight: 800;
    font-size: 24px;
    color: black;
    transition: 0.2s;
}

mat-card-title a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

mat-card-subtitle {
    color: rgb(100, 100, 100);
    font-size: 16px;
}

mat-card-content {
    flex: 1;
    overflow: auto;
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
}

mat-card-content p {
    font-weight: 300;
}

mat-card-actions {
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 24px;

}

button:hover {
    background-color: rgb(240, 240, 240);
}

button.mat-icon-button {
    color: black;
    /* Custom color */
}

img {
    transition: filter 0.5s ease;
}

img:hover {
    filter: brightness(90%);
}