.project-participants-container {
    padding-top: 124px;
    padding-bottom: 48px;
    margin-left: 8%;
    margin-right: 8%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 48px;
}

.profile-card {
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-card-subtitle {
    color: black
}

mat-card-content {
    flex: 1;
    overflow: auto;
}

mat-card-content p {
    font-weight: 300;
}
/* mat-card-actions {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 16px;
} */
/* 
button {
    border-radius: 6px;
    background-color: rgb(40, 40, 40);
} */

button:hover {
    background-color: rgb(240, 240, 240);
}

button.mat-icon-button {
    color: black; /* Custom color */
  }