<header>
    <app-sticky-header></app-sticky-header>
</header>

<div class="project-participants-container">
    <app-profile-card
        [link]="'/partner-page-a'"
        name="John Doe"
        role="Researcher"
        imageSrc="assets/blank_avatar.jpeg"
        content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum."
        [webLink]="'https://www.gatesnotes.com/'"
        [linkedInLink]="'https://www.linkedin.com/in/williamhgates/'"
        [xLink]="'https://twitter.com/BillGates'">
    </app-profile-card>

    <app-profile-card
        [link]="'/partner-page-a'"
        name="Jane Doe"
        role="Researcher"
        imageSrc="assets/blank_avatar.jpeg"
        content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum."
        [webLink]="'https://www.gatesnotes.com/'"
        [linkedInLink]="'https://www.linkedin.com/in/williamhgates/'"
        [xLink]="'https://twitter.com/BillGates'">
    </app-profile-card>

    <app-profile-card
        [link]="'/partner-page-a'"
        name="John Smith"
        role="Researcher"
        imageSrc="assets/blank_avatar.jpeg"
        content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum."
        [webLink]="'https://www.gatesnotes.com/'"
        [linkedInLink]="'https://www.linkedin.com/in/williamhgates/'"
        [xLink]="'https://twitter.com/BillGates'">
    </app-profile-card>

    <app-profile-card
        [link]="'/partner-page-a'"
        name="Jon Doe"
        role="Researcher"
        imageSrc="assets/blank_avatar.jpeg"
        content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum."
        [webLink]="'https://www.gatesnotes.com/'"
        [linkedInLink]="'https://www.linkedin.com/in/williamhgates/'"
        [xLink]="'https://twitter.com/BillGates'">
    </app-profile-card> 
</div>