.page-card {
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}

.page-card-img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

mat-card-content {
    flex: 1;
    overflow: auto;
}

mat-card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

a[mat-stroked-button] {
    background-color: white;
    padding: 24px 24px;
    font-size: 18px;
    color: black;
    border-radius: 24px;
    width: 300px;
}

mat-card {
    transition: transform 0.2s;
}

mat-card:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

mat-card:hover a[mat-stroked-button] {
    /* background-color: rgba(200, 200, 200); */
    border-color: rgba(220, 220, 220);
}

a[mat-stroked-button]:hover {
    background-color: rgba(220, 220, 220);
    /* border-color: white; */
}