.reference-container {
    margin: 0;
}

.references-content-container {
    padding-top: 84px;
}

.reference-table {
    width: 100%;
}

.mat-column-title {
    width: 25%;
}

.mat-column-authors {
    width: 25%;
}

.mat-column-year {
    width: 5%;
}

.mat-column-citation {
    width: 45%;
}