.reference-container {
    margin: 0;
}

.references-content-container {
    padding-top: 84px;
    margin-left: 8%;
    margin-right: 8%;
}

.ref-content {
    min-height: calc(100vh - 84px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reference-table {
    width: 100%;

}

.mat-column-title {
    width: 25%;
}

.mat-column-authors {
    width: 25%;
}

.mat-column-year {
    width: 5%;
}

.mat-column-citation {
    width: 45%;
}


.reference-table {
    background-color: white;
}


.reference-table td,
th {
    color: black;
}


mat-paginator {
    /* background-color: rgb(120, 120, 120); */
    position: sticky;
    bottom: 0;
}