<header class="sticky-header">
    <nav class="banner">
        <a href="https://nicholas.duke.edu/">
            <img class="logo" src="assets/nicholas-school-logo-white.svg" alt="Duke Logo" />
        </a>
        <a href="https://www.usda.gov/">
            <img class="logo" src="assets/usda-logo.svg" alt="USDA Logo" />
        </a>
        <a href="https://www.fs.usda.gov/">
            <img class="logo" src="assets/Logo_of_the_United_States_Forest_Service.svg" alt="USFS Logo" />
        </a>
        <a href="https://www.epa.gov/">
            <img class="logo" src="assets/EPA_logo_white.svg" alt="EPA Logo" />
        </a>
    </nav>

    <!-- Menu Bar for small resolutions -->
    <!-- Change to animated icon later -->
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar" class="menu-label">
        <img class="hamburger" src="assets/hamburger.svg">
        <!-- Menu -->
    </label>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul>
            <!-- <li><a href="homepage.html">Home</a></li> -->
            <li><a [routerLink]="''">Home</a></li>
            <li>
                <!-- <a [routerLink]="'/project'">Project</a> -->
                <a [routerLink]="'/project-overview'">Project</a>

                <!-- <ul>
                    <li><a [routerLink]="'/project-overview'">Overview</a></li>
                    <li><a [routerLink]="'/project-updates'">News & Updates</a></li>
                </ul> -->
            </li>

            <li><a [routerLink]="'/project-participants'">Partners</a></li>

            <li>
                <!-- <a [routerLink]="'/products'">Products</a> -->
                <a (click)="openSnackBar('Products Page Currently Unavailable', 'OK')">Products</a>
                <ul>
                    <li>
                        <!-- <a [routerLink]="'/products-models'">Models</a> -->
                        <a (click)="openSnackBar('Models Page Currently Unavailable', 'OK')">Models</a>
                    </li>
                    <li>
                        <a [routerLink]="'/data'">Data</a>
                        <!-- <a (click)="openSnackBar('Data Page Currently Unavailable', 'OK')">Data</a> -->
                    </li>
                </ul>
            </li>

            <li>
                <!-- <a [routerLink]="'/resources'">Resources</a> -->
                <a [routerLink]="'/resources-references'">Resources</a>

                <ul>
                    <li>
                        <!-- <a [routerLink]="'/resources-events'">Events</a> -->
                        <a (click)="openSnackBar('Events Page Currently Unavailable', 'OK')">Events</a>

                    </li>
                    <li>
                        <!-- <a [routerLink]="'/resources-publications'">Publications</a> -->
                        <a (click)="openSnackBar('Publications Page Currently Unavailable', 'OK')">Publications</a>
                    </li>
                    <li>
                        <!-- <a [routerLink]="'/careers'">Work With Us</a> -->
                        <a (click)="openSnackBar('Career Page Currently Unavailable', 'OK')">Work With Us</a>
                    </li>
                    <li>
                        <!-- <a [routerLink]="'/resources-external-links'">External Links</a> -->
                        <a (click)="openSnackBar('External Links Page Currently Unavailable', 'OK')">External Links</a>
                    </li>
                    <li><a [routerLink]="'/resources-references'">References</a></li>
                </ul>
            </li>

            <li>
                <a [routerLink]="'/contact'">Contact</a>
                <!-- <a (click)="openSnackBar('Contact Page Currently Unavailable', 'OK')">Contact</a> -->
            </li>

        </ul>
    </nav>
</header>