.project-overview-container {
}

.sidenav-container {
    height: 1000px;
}

mat-sidenav {
    width: 25%;
    background-color: #f0f0f0;
    color: black;
}

mat-sidenav-content {
    background-color: white;
    color: black
}

.sidenav-index {
    margin-top: 124px;
    margin-left: 15%;
    margin-right: 15%;
}

.sidenav-index h2 {
    margin-bottom: 24px;
    font-size: 24px;
}

.sidenav-index ul li{
    text-decoration: none;
    list-style: none;
}

.sidenav-index ul li a {
    color: black;
}

.sidenav-index ul li a:hover {
    text-decoration: underline;
}

.sidenav-content-container {
    margin-top: 104px;
    margin-left: 16px;

}