.project-overview-container {
    display: flex;
    padding-top: 54px;
}

.project-overview-container h2 {
    font-size: 30px;
}

.po-content {
    flex: 4;
    font-weight: 300;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 8%;
}

.po-content h1 {
    padding-bottom: 40px;
    padding-top: 24px;
    font-size: 42px;
    color: black;
}

/* .po-content h1 a {
    display: inline-block;
    color: black;
    transition: transform 0.3s ease;
} */

/* .po-content h1 a:hover {
    transform: scale(1.1);
} */

.po-content h3 {
    font-size: 24px;
    padding-bottom: 16px;
    color: black;
}

.po-content h3 a {
    color: black;
}

.po-content h3 a:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.po-content p {
    margin-bottom: 16px;
    font-size: 16px;
    color: black;

}

/* INDEX STYLE */

.index {
    flex: 1;
    background-color: #f0f0f0;
    padding-top: 78px;
    padding-left: 4%;
    padding-right: 4%;
}

.index h2 {
    top: 132px;
    margin-bottom: 24px;
    position: sticky;
}

.index ul {
    list-style: none;
    position: sticky;
    top: 218px;
}

.index ul li {
    margin-bottom: 16px;
}

.index ul li a {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.index ul li a:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

#project-background-objective {
    margin-top: 54px;
}