<app-sticky-header></app-sticky-header>

<!-- Static version -->
<app-partner-page [webLink]="'https://www.gatesnotes.com/'" [linkedInLink]="'https://www.linkedin.com/in/williamhgates/'"
    [xLink]="'https://twitter.com/BillGates'"
    [googleScholar]="'https://scholar.google.com/citations?user=EicYvbwAAAAJ&hl=en'" name="John Doe" role="Researcher"
    roleDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
    deserunt mollit anim id est laborum." bio="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
    deserunt mollit anim id est laborum." pub1="Publication 1" pub2="Publication 2" pub3="Publication 3" addInfo=""
    imageSrc="assets/blank_avatar.jpeg">
</app-partner-page>

<!-- Dynamic version -->
<!-- <app-partner-page-dbver></app-partner-page-dbver> -->
