<div class="partner-page" *ngIf="partner">
    <div class="partner-content-section">
        <div class="partner-title">
            <h1>
                {{partner.name}}
                <button mat-icon-button aria-label="Personal website link" matTooltip="Website"
                    (click)="openLink(partner.websiteLink)">
                    <mat-icon>link</mat-icon>
                </button>
                <button mat-icon-button aria-label="Email" matTooltip="Email">
                    <mat-icon>email</mat-icon>
                </button>
                <!-- <button mat-icon-button aria-label="LinkedIn" matTooltip="LinkedIn"
                    (click)="openLink(partner.linkedInLink)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 50 50">
                    </svg>
                </button> -->
                <!-- <button mat-icon-button aria-label="Twitter/X" matTooltip="X" (click)="openLink(partner.xLink)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 50 50">
                    </svg>
                </button> -->
                <!-- <button mat-icon-button aria-label="Google Scholar" matTooltip="Google Scholar"
                    (click)="openLink(partner.googleScholar)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 50 50">
                    </svg>
                </button> -->
            </h1>
            <h3>{{partner.roleTitle}}</h3>
        </div>

        <div class="partner-content-text">
            <h3>Role</h3>
            <p>{{partner.roleDesc}}</p>

            <h3>Biography</h3>
            <p>{{partner.bio}}</p>

            <h3>Publications</h3>
            <ul>
                <!-- Replace Later -->
                <li><a>Pub1</a></li>
                <li><a>Pub2</a></li>
                <li><a>Pub3</a></li>
            </ul>

            <h3>Additional Information</h3>
        </div>

    </div>

    <div class="partner-img-section">
        <img class="partner-img" [src]="partner.imageSrc" alt="Profile">
        <h3>{{partner.name}}</h3>
    </div>
</div>