<header>
    <app-sticky-header></app-sticky-header>
</header>

<main>
    <div class="image-container">
        <img src="assets/Deerfire_high_res_edit_copy.jpg">
        <div class="homepage-title-container">
            <h1>
                Wildfire Impacts on Water Quality
            </h1>
        </div>
        <div>
            <a href="#start-content" id="scrollLink">
                <img class="arrow" src="assets/down-arrow.svg">
            </a>
        </div>
    </div>

    <div class="homepage-content-container" id="start-content">
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>

    </div>
</main>
    
