<header>
    <app-sticky-header></app-sticky-header>
</header>

<main>
    <div class="image-container">
        <img src="assets/Deerfire_high_res_edit_copy.jpg">
        <div class="homepage-title-container">
            <h1>
                Wildfire Impacts on Water Quality
            </h1>
        </div>
        <!-- <div>
            <a href="#start-content" id="scrollLink">
                <img class="arrow" src="assets/down-arrow.svg">
            </a>
        </div> -->
    </div>

    <div class="homepage-content-container" id="start-content">
        <mat-card class="page-card">
            <img src="assets/fire_pic_1_crop.jpg" class="page-card-img">
            <mat-card-footer>
                <a mat-stroked-button [routerLink]="'/project-overview'">Learn About The Project</a>
            </mat-card-footer>
        </mat-card>

        <mat-card class="page-card">
            <img src="assets/fire_pic_2_crop.jpg" class="page-card-img">
            <mat-card-footer>
                <a mat-stroked-button [routerLink]="'/project-participants'">View Project Participants</a>
            </mat-card-footer>
        </mat-card>

        <!-- <mat-card class="page-card">
            <img src="assets/fire_pic_3_crop.jpg" class="page-card-img">
            <mat-card-footer>
                <a mat-stroked-button [routerLink]="'/data'">Explore Data</a>
            </mat-card-footer>
        </mat-card> -->

        <!-- <mat-card class="page-card">
            <img src="assets/fire_pic_4_crop.jpg" class="page-card-img">
            <mat-card-footer>
                <a mat-stroked-button [routerLink]="'/careers'">View Careers</a>
            </mat-card-footer>
        </mat-card> -->

        <mat-card class="page-card">
            <img src="assets/test_map_imagery_crop.jpg" class="page-card-img">
            <mat-card-footer>
                <!-- <a mat-stroked-button [routerLink]="'/resources'">View Resources</a> -->
                <a mat-stroked-button [routerLink]="'/resources-references'">View Resources</a>
            </mat-card-footer>
        </mat-card>
    </div>

    <body></body>
</main>