<header>
    <app-sticky-header></app-sticky-header>
</header>

<main>
    <div class="image-container">
        <img src="assets/Deerfire_high_res_edit_copy.jpg">
        <div class="homepage-title-container">
            <h1>
                Wildfire Impacts on Water Quality
            </h1>
        </div>
        <div>
            <a href="#start-content" id="scrollLink">
                <img class="arrow" src="assets/down-arrow.svg">
            </a>
        </div>
    </div>

    <div class="homepage-content-container" id="start-content">
        <!-- <div class="grid-page">
            <div class="grid-page-image-container">
                <img src="assets/fire_pic_4.png">
            </div>

            <div class="grid-page-text-container">
            </div>

            <div class="grid-page-button-container">
                <a class="grid-page-button" href="/project-overview">
                    Learn About The Project
                </a>
            </div>
        </div> -->

        <!-- <div class="grid-page">
            <div class="grid-page-image-container">
                <img src="">
            </div>

            <div class="grid-page-text-container">
            </div>

            <div class="grid-page-button-container">
                <a class="grid-page-button" href="/project-participants">
                    View Project Participants
                </a>
            </div>
        </div> -->

        <!-- <div class="grid-page">
            <div class="grid-page-image-container">
                <img src="assets/test_map_imagery.png">
            </div>
            <div class="grid-page-text-container">

            </div>
            <div class="grid-page-button-container">
                <a class="grid-page-button" href="">
                    Explore Interactive Map
                </a>
            </div>
        </div> -->

        <!-- <div class="grid-page">
            <div class="grid-page-image-container">
                <img src="assets/test_map_imagery.png">
            </div>
            <div class="grid-page-text-container">

            </div>
            <div class="grid-page-button-container">
                <a class="grid-page-button" href="/data">
                    Explore Data
                </a>
            </div>
        </div> -->

        <!-- <div class="grid-page">
            <div class="grid-page-image-container">

                <img src="">
            </div>
            <div class="grid-page-text-container">

            </div>
            <div class="grid-page-button-container">
                <a class="grid-page-button" href="/careers">
                    View Careers
                </a>
            </div>
        </div> -->

        <!-- <div class="grid-page">
            <div class="grid-page-image-container">

                <img src="assets/fire_pic_1.png">
            </div>
            <div class="grid-page-text-container">

            </div>
            <div class="grid-page-button-container">
                <a class="grid-page-button" href="/resources">
                    View Resources
                </a>
            </div>
        </div> -->

        <mat-card class="page-card">
            <img src="assets/fire_pic_1_crop.jpg" class="page-card-img">
            <mat-card-footer>
                <button mat-flat-button class="home-button">
                    <a [routerLink]="'/project-overview'">Learn About The Project</a>
                </button>
            </mat-card-footer>
        </mat-card>

        <mat-card class="page-card">
            <img src="assets/fire_pic_2_crop.jpg" class="page-card-img">
            <mat-card-footer>
                <button mat-flat-button>
                    <a [routerLink]="'/project-participants'">View Project Participants</a>
                </button>
            </mat-card-footer>

        </mat-card>

        <mat-card class="page-card">
            <img>
            <mat-card-footer>
                <button mat-flat-button>
                    <a [routerLink]="'/data'">Explore Data</a>
                </button>
            </mat-card-footer>
        </mat-card>

        <mat-card class="page-card">
            <img>
            <mat-card-footer>
                <button mat-flat-button>
                    <a [routerLink]="'/careers'">View Careers</a>
                </button>
            </mat-card-footer>
        </mat-card>

        <mat-card class="page-card">
            <img>
            <mat-card-footer>
                <button mat-flat-button>
                    <a [routerLink]="'/resources'">View Resources</a>
                </button>
            </mat-card-footer>
        </mat-card>
    </div>
</main>